flows.json
[{"id":"c34706b9.5929b8","type":"tab","label":"EntranceDoor","disabled":false,"info":""},{"id":"740ded65.f25114","type":"tab","label":"Balcony","disabled":false,"info":""},{"id":"f055f34b.05a2a","type":"tab","label":"Main","disabled":false,"info":""},{"id":"fb9e4f44.2562a","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"b24d3973.5ab408","type":"tab","label":"fan","disabled":false,"info":""},{"id":"8bf68984.bfc058","type":"tab","label":"reload all","disabled":false,"info":""},{"id":"403424f3.deddcc","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"c6c7be1a.44257","type":"tab","label":"Sleep room","disabled":false,"info":""},{"id":"29931177.bf804e","type":"tab","label":"Phone","disabled":false,"info":""},{"id":"ad4df857.cef5e8","type":"ui_group","z":"","name":"Ванна","tab":"3a23be5c.e31f42","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9f27305.060ed","type":"ui_group","z":"","name":"двери","tab":"4940d4fd.f90c0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"83864b8e.f03f28","type":"ui_group","z":"","name":"Балкон","tab":"11ce4ec6.486d31","order":2,"disp":true,"width":"6","collapse":false},{"id":"19ef42e8.1caf9d","type":"ui_group","z":"","name":"Теплый пол","tab":"11ce4ec6.486d31","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc25730.486489","type":"tls-config","z":"","name":"","cert":"/data/data/com.termux/files/home/certificate.pem","key":"/data/data/com.termux/files/home/privatekey.pem","ca":"/data/data/com.termux/files/home/certificate.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3a23be5c.e31f42","type":"ui_tab","z":"","name":"Ванна","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"4940d4fd.f90c0c","type":"ui_tab","z":"","name":"двери","icon":"dashboard","disabled":false,"hidden":false},{"id":"11ce4ec6.486d31","type":"ui_tab","z":"","name":"Квартира","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"349a5ad8.f53ee6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d4a5211.0f5efe","type":"ui_group","z":"","name":"Sliders","tab":"","disp":true,"width":"6","collapse":false},{"id":"4176fcb2.0c7a34","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4bf40d2.02f1af4","type":"ui_group","z":"","name":"flowtest","tab":"","disp":true,"width":"6","collapse":false},{"id":"cd617711.8471a8","type":"telegram bot","z":"","botname":"spspiderbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"47608b1e.364f74","type":"telegram bot","z":"403424f3.deddcc","botname":"HeinzBot"},{"id":"f62810d7.90ef4","type":"telegram bot","z":"","botname":"homeOveralBot_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7045f0ba.5d0b5","type":"ui_group","z":"","name":"Ванна2","tab":"3a23be5c.e31f42","order":2,"disp":true,"width":"6","collapse":false},{"id":"3b1bef7b.b17c8","type":"ui_group","z":"","name":"двери2","tab":"4940d4fd.f90c0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c427bae.9c4118","type":"ui_group","z":"","name":"двери3","tab":"4940d4fd.f90c0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"af9ed211.de8bc","type":"ui_group","z":"","name":"баклон2","tab":"11ce4ec6.486d31","order":3,"disp":true,"width":"6","collapse":false},{"id":"2fd12038.eb4f6","type":"ui_tab","z":"","name":"Computer","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0479260.5ff93","type":"ui_group","z":"","name":"Computer","tab":"2fd12038.eb4f6","order":1,"disp":true,"width":"12","collapse":false},{"id":"9973900e.3167d","type":"ui_group","z":"","name":"TCPU-diff","tab":"2fd12038.eb4f6","order":2,"disp":true,"width":"12","collapse":false},{"id":"9b0f9d64.dc07c","type":"ui_group","z":"","name":"двери 4","tab":"4940d4fd.f90c0c","order":4,"disp":true,"width":"6","collapse":false},{"id":"73e2e908.049518","type":"telegram bot","z":"","botname":"doogex5_bot","usernames":"","chatids":"843873284, 584925756","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"97360f98.96bfa","type":"http request","z":"f055f34b.05a2a","name":"теплый пол","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":180,"wires":[["5c0ebe16.d3b08","86b411d2.57666"]]},{"id":"5c0ebe16.d3b08","type":"function","z":"f055f34b.05a2a","name":"теплый пол","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//батарея балкон\nvar stat1 ={payload: parsed.stat[1]};//насос\nvar stat2 ={payload: parsed.stat[2]};//кухня\nvar stat3 ={payload: parsed.stat[3]};//температура\nvar stat4 ={payload: parsed.stat[4]};//коридор\nvar stat5 ={payload: parsed.stat[5]};//комната1\nvar stat6 ={payload: parsed.stat[6]};//комната2\nvar stat7 ={payload: parsed.stat[7]};//балкон\nreturn [ stat0, stat1, stat2, stat3, stat4,stat5,stat6,stat7 ];","outputs":8,"noerr":0,"x":570,"y":200,"wires":[["720a922d.08e8fc"],["f875bb64.946198"],["ed064ec9.33755"],["f3c11b7c.2664c8"],["743334da.9a2fec"],["91da8a24.2598f8"],["bbc4eebc.01131"],["f38cc7e0.58ffc8"]]},{"id":"383967e6.cb2e58","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:0,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":140,"wires":[[]]},{"id":"720a922d.08e8fc","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"батарея балкон","tooltip":"","group":"19ef42e8.1caf9d","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":800,"y":140,"wires":[["383967e6.cb2e58"]]},{"id":"f875bb64.946198","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"насос","tooltip":"","group":"19ef42e8.1caf9d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":770,"y":160,"wires":[["22ddb11.a340d4e"]]},{"id":"22ddb11.a340d4e","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:1,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":160,"wires":[[]]},{"id":"8bbbece4.3c278","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:2,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":180,"wires":[[]]},{"id":"ed064ec9.33755","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"кухня","tooltip":"","group":"19ef42e8.1caf9d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":770,"y":180,"wires":[["8bbbece4.3c278"]]},{"id":"f4324725.2b7a88","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":220,"wires":[[]]},{"id":"743334da.9a2fec","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"коридор","tooltip":"","group":"19ef42e8.1caf9d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":780,"y":220,"wires":[["f4324725.2b7a88"]]},{"id":"91da8a24.2598f8","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"комната1","tooltip":"","group":"19ef42e8.1caf9d","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":780,"y":240,"wires":[["5e749f77.dc321"]]},{"id":"5e749f77.dc321","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":240,"wires":[[]]},{"id":"b86e6eef.c7ca8","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:6,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":260,"wires":[[]]},{"id":"bbc4eebc.01131","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"комната2","tooltip":"","group":"19ef42e8.1caf9d","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":780,"y":260,"wires":[["b86e6eef.c7ca8"]]},{"id":"f38cc7e0.58ffc8","type":"ui_switch","z":"f055f34b.05a2a","name":"","label":"балкон","tooltip":"","group":"19ef42e8.1caf9d","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":780,"y":280,"wires":[["d2b02f36.1d94b"]]},{"id":"d2b02f36.1d94b","type":"http request","z":"f055f34b.05a2a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:7,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":280,"wires":[[]]},{"id":"1cd8067c.ad23fa","type":"debug","z":"f055f34b.05a2a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":340,"wires":[]},{"id":"b700d8b.2517d28","type":"inject","z":"f055f34b.05a2a","name":"в 20:00","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":520,"y":300,"wires":[["91da8a24.2598f8"]]},{"id":"c1ea75ac.c30098","type":"inject","z":"f055f34b.05a2a","name":"в 05:00","repeat":"","crontab":"0 5-18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":520,"y":340,"wires":[["ffd34b0c.ef6c38"]]},{"id":"7be53363.82773c","type":"inject","z":"f055f34b.05a2a","name":"","repeat":"86400","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":470,"y":440,"wires":[["5f2a13ca.eae61c"]]},{"id":"5f2a13ca.eae61c","type":"http request","z":"f055f34b.05a2a","name":"IP","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":440,"wires":[["7e0e62b8.6cf7dc"]]},{"id":"7ad1e0bc.c2d2e","type":"e-mail","z":"f055f34b.05a2a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"spspider95@gmail.com","dname":"spspider95","x":970,"y":440,"wires":[]},{"id":"7e0e62b8.6cf7dc","type":"function","z":"f055f34b.05a2a","name":"mail","func":"\nmsg.topic=\"IP\";\nmsg.to=\"spspider95@gmail.com\";\nmsg.from=\"IPAdress\";\n\nvar thatIP= msg.payload.ip;\n\nvar storedIP = context.get ('ip') || 0;\nif(storedIP!==thatIP){\ncontext.set(\"ip\",thatIP);\nmsg.payload=\"http://\"+thatIP+\":1880/ui\";\n}\nelse{\n    return null;\n}\nif (thatIP===undefined){return null;}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["7ad1e0bc.c2d2e","757c6c32.ef7904"]]},{"id":"c3ca438e.67bda","type":"inject","z":"b24d3973.5ab408","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["7aafcd8f.5cb4f4"]]},{"id":"7aafcd8f.5cb4f4","type":"http request","z":"b24d3973.5ab408","name":"TCPU","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.100:8085/api","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":240,"wires":[["682d71a3.2918a"]]},{"id":"682d71a3.2918a","type":"function","z":"b24d3973.5ab408","name":"replace","func":"var TCPU={};\nvar TGPU={};\nvar TMOBO={};\nvar changestring;\nvar str;\nstr=msg.payload;\n\n        function findValue(str, value, endvalue) {\n           // value=\"label\";\n            var found = {};\n            var index = 0;\n\n              //str.slice(str.search(value));\n            str.trim();\n            while(str.indexOf(value)!==-1) {\n                var n= str.indexOf(value);\n                str = str.slice(n+value.length);\n                n=str.indexOf(endvalue);\n                found[index++] =parseInt(str.substr(0,n));\n                str = str.slice(str.indexOf(endvalue));\n\n            }\n\n                //found[index++] = str;\n                //found=str.substring(0,str.search(endvalue));\n            //}\n            return found;\n        }\n        var foundedObject=findValue(str,\"value: \\\"\",\"\\\",\");  \n    TCPU.payload=foundedObject[0];\n    TGPU.payload=foundedObject[1];\n    TMOBO.payload=foundedObject[2];\n\n    var gpu={};\n    var cpu={};\n    var system={};\n    gpu.payload = (TGPU.payload-35)*1024/(60-35);\n    cpu.payload = (TCPU.payload-54)*1024/(60-54);\n    system.payload = (TMOBO.payload-20)*1024/(48-20);\n    system.payload=768;\n    gpu.payload=0?1024:gpu.payload;\n    cpu.payload=0?1024:cpu.payload;\n    system.payload=0?1024:system.payload;\n    \nflow.set('TCPU',TCPU);    \n//return [cpu,gpu,system];\nreturn [TCPU,TGPU,TMOBO];","outputs":3,"noerr":0,"x":520,"y":240,"wires":[["c8e7d188.d5e06","3ac759df.eb61e6"],["e3f699cf.7cbda8","6d52739a.16f95c"],["42669f62.4c7cc"]]},{"id":"e42217ed.5d2318","type":"http request","z":"8bf68984.bfc058","name":"192.168.1.110 дверь","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.110/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":60,"wires":[[]]},{"id":"29547f4b.8d69f","type":"http request","z":"8bf68984.bfc058","name":"192.168.1.111 теплый пол","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.111/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":100,"wires":[[]]},{"id":"36e639f7.e98986","type":"http request","z":"8bf68984.bfc058","name":"192.168.1.112 ванна","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":401,"y":140,"wires":[[]]},{"id":"78053ccf.f6e604","type":"http request","z":"8bf68984.bfc058","name":"192.168.1.114 полив балкон","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":180,"wires":[[]]},{"id":"71d6d27e.fa097c","type":"http request","z":"b24d3973.5ab408","name":"GPU","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.113/sendAJAX?json={\"t\":3,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":240,"wires":[[]]},{"id":"5b2c24a6.a4719c","type":"http request","z":"b24d3973.5ab408","name":"system","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.113/sendAJAX?json={\"t\":4,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":280,"wires":[[]]},{"id":"d90075e8.1c2c28","type":"http request","z":"b24d3973.5ab408","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":320,"wires":[[]]},{"id":"11570e74.70c412","type":"function","z":"b24d3973.5ab408","name":"ws8211","func":"var col=msg.payload;\ncol=(col-0)*255/(1024-0);\nvar AjaxFormat=\"http://192.168.1.113/ws2811AJAX?json={%22from%22:[0],%22to%22:[7],%22type%22:[2],%22dir%22:[0],%22col%22:[\"+col+\"],%22wh%22:[0],%22br_%22:[255],%22num%22:1,%22sp%22:19,%22dr%22:255,%22fd%22:72,%22fdt%22:3,%22br%22:149}\";\nmsg.url=AjaxFormat;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[["d90075e8.1c2c28"]]},{"id":"e3f699cf.7cbda8","type":"delay","z":"b24d3973.5ab408","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":240,"wires":[[]]},{"id":"42669f62.4c7cc","type":"delay","z":"b24d3973.5ab408","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":280,"wires":[[]]},{"id":"6d52739a.16f95c","type":"delay","z":"b24d3973.5ab408","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":320,"wires":[[]]},{"id":"a3137f18.abf54","type":"http request","z":"b24d3973.5ab408","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":360,"wires":[[]]},{"id":"b09878b.86ce788","type":"function","z":"b24d3973.5ab408","name":"ws8211","func":"var TCPU={};\nvar TGPU={};\nvar TMOBO={};\nvar changestring;\nvar str;\nstr=msg.payload;\n\n        function findValue(str, value, endvalue) {\n           // value=\"label\";\n            var found = {};\n            var index = 0;\n\n              //str.slice(str.search(value));\n            str.trim();\n            while(str.indexOf(value)!==-1) {\n                var n= str.indexOf(value);\n                str = str.slice(n+value.length);\n                n=str.indexOf(endvalue);\n                found[index++] =parseInt(str.substr(0,n));\n                str = str.slice(str.indexOf(endvalue));\n\n            }\n\n                //found[index++] = str;\n                //found=str.substring(0,str.search(endvalue));\n            //}\n            return found;\n        }\n        var foundedObject=findValue(str,\"value: \\\"\",\"\\\",\");  \n    TCPU.payload=foundedObject[0];\n    TGPU.payload=foundedObject[1];\n    TMOBO.payload=foundedObject[2];\n\n    var gpu={};\n    var cpu={};\n    var system={};\n    gpu.payload = (TGPU.payload-35)*255/(60-35);\n    cpu.payload = (TCPU.payload-54)*1024/(60-54);\n    system.payload = (TMOBO.payload-20)*1024/(48-20);\n    system.payload=768;\n    gpu.payload=0?1024:gpu.payload;\n    cpu.payload=0?1024:cpu.payload;\n    system.payload=0?1024:system.payload;\n    \n\n\n\n\n\nvar col=gpu.payload;\nvar url=\"http://192.168.1.113/ws2811AJAX?json=\";\n//col=parseInt((col-0)*255/(1024-0));\nvar AjaxFormat=url+'{\"from\":[0],\"to\":[88],\"type\":[2],\"dir\":[0],\"col\":['+col+'],\"wh\":[254],\"br_\":[255],\"num\":1,\"sp\":100,\"dr\":255,\"fd\":45,\"fdt\":3,\"br\":12}';\nmsg.url=AjaxFormat;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["a3137f18.abf54"]]},{"id":"66a935d.da14ecc","type":"function","z":"b24d3973.5ab408","name":"bathroomTime","func":"    var g1 = [], g2 = [], g3 = [];\n    var num = 88;\n    var wh = 1;\n    var FullLight = 255;\n    var LowLight = 125;\n    var color =255;\nvar StartEndPosition=122;\n\n    function binIndex(dec, maxSize) {\n        var bin = (dec >>> 0).toString(2);\n        var binchar = [];\n        var i = 0;\n        while (bin.length > 0) {\n            var char = parseInt(bin.charAt(0)) === 1 ? LowLight : FullLight;\n            bin = bin.slice(1);\n            binchar[i] = char;\n            i++;\n        }\n        while (i < maxSize) {\n            binchar[i] = LowLight;\n            i++;\n        }\n        return binchar;\n    }\n\n    var date = new Date();\n    var hour = date.getHours();\n\n    var concatBin;\n    var dempfer = [];\n    var i1 = 0;\n    while (i1 < 17) {\n        dempfer[i1] = FullLight;\n        i1++;\n    }\n    concatBin = dempfer.concat(binIndex(hour, 5)).concat(binIndex(date.getMinutes(), 11)\n        .concat(binIndex(date.getSeconds(), 6)));\n    //console.log(concatBin);\n    for (var i = 0; i < num; i++) {\n\n        g1[i] = 255;\n        g3[i] = concatBin[i] != null ? concatBin[i] : FullLight;\n        //g3[i] = concatBin[i];\n    }\n    //console.log(g1.toString());\n    var JsonString = {};\n    JsonString.num = num;\n    //JsonString.g1 = g1;\n    JsonString.g1 = color;\n    JsonString.g3 = g3;\n    JsonString.wh = wh;\n\n    var Stringify = JSON.stringify(JsonString);\n    var length_str=Stringify.length/200;\n    console.log(length_str);\n    var link = \"192.168.1.112/ws2811AJAXset?json=\" + JSON.stringify(JsonString);\n        msg.url=link;\n    return msg;","outputs":1,"noerr":0,"x":780,"y":460,"wires":[["269a8a58.cc95d6"]]},{"id":"269a8a58.cc95d6","type":"http request","z":"b24d3973.5ab408","name":"bath","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":460,"wires":[[]]},{"id":"96e0616c.89efc","type":"inject","z":"b24d3973.5ab408","d":true,"name":"10sec","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":460,"wires":[["42ecc7e5.e9fcb8"]]},{"id":"42ecc7e5.e9fcb8","type":"function","z":"b24d3973.5ab408","name":"bathroom","func":"   function getRandomArbitrary(min, max) {\n        return Math.floor(Math.random() * (max - min) + min);\n    }\n       var JsonString = {};\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [88];\n    JsonString.type = [getRandomArbitrary(1,13)];\n    JsonString.dir = [0];\n    JsonString.col = [0];\n    JsonString.wh = [1];\n    JsonString.br_ = [255];\n    JsonString.num = 1;\n    JsonString.sp = getRandomArbitrary(1,20);\n    JsonString.dr = 255;\n    JsonString.fd = getRandomArbitrary(1,100);\n    JsonString.fdt = 3;\n    JsonString.br = getRandomArbitrary(100,255);\n\n\n\n    var Stringify = JSON.stringify(JsonString);\n    //var length_str = Stringify.length / 200;\n    //console.log(length_str);\n    //msg=function?json={'ws2811_setup':1}\", function (callback) {\n    var link = \"192.168.1.112/ws2811AJAX?json=\" + JSON.stringify(JsonString);\n    msg.url=link;\n    return msg;","outputs":1,"noerr":0,"x":760,"y":520,"wires":[["269a8a58.cc95d6"]]},{"id":"77d9ef48.326dc","type":"function","z":"b24d3973.5ab408","name":"Bathroom","func":"var parsed =(msg.payload);\nvar stat0={};\nvar stat2={};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//4\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\n\nvar nowDate = new Date();\nvar Hour = nowDate.getHours();\n\n\nvar switch_bathroom = flow.get(\"$fan.switch_bathroom\");\nswitch_bathroom=1;\nif (stat2.payload>60){\n    if ((Hour>8)&&(Hour<22)&&(switch_bathroom==1)){\n    msg.payload = 0;\n    }\n}else{\n    msg.payload = 1;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["e1b151a9.2715c"]]},{"id":"e1b151a9.2715c","type":"link out","z":"b24d3973.5ab408","name":"to_fan_bathroom","links":["9ac9daac.ca7d38"],"x":555,"y":520,"wires":[]},{"id":"16be72f.04b9a8d","type":"function","z":"b24d3973.5ab408","name":"Decode Weather","func":" var wheather=msg.payload;\n \n    //var wheather = \"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":500,\\\"main\\\":\\\"Rain\\\",\\\"description\\\":\\\"light rain\\\",\\\"icon\\\":\\\"10d\\\"},{\\\"id\\\":701,\\\"main\\\":\\\"Mist\\\",\\\"description\\\":\\\"mist\\\",\\\"icon\\\":\\\"50d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":279.48,\\\"feels_like\\\":275.13,\\\"temp_min\\\":279.15,\\\"temp_max\\\":279.82,\\\"pressure\\\":1002,\\\"humidity\\\":100},\\\"visibility\\\":3500,\\\"wind\\\":{\\\"speed\\\":5,\\\"deg\\\":190},\\\"rain\\\":{\\\"1h\\\":0.11},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612449242,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612415098,\\\"sunset\\\":1612449779},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather2=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":803,\\\"main\\\":\\\"Clouds\\\",\\\"description\\\":\\\"broken clouds\\\",\\\"icon\\\":\\\"04n\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":267.1,\\\"feels_like\\\":257.04,\\\"temp_min\\\":267.04,\\\"temp_max\\\":267.15,\\\"pressure\\\":1018,\\\"humidity\\\":73},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":10,\\\"deg\\\":320},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612555439,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612501412,\\\"sunset\\\":1612536277},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather3=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":800,\\\"main\\\":\\\"Clear\\\",\\\"description\\\":\\\"clear sky\\\",\\\"icon\\\":\\\"01d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":269.43,\\\"feels_like\\\":263.53,\\\"temp_min\\\":268.71,\\\"temp_max\\\":270.15,\\\"pressure\\\":1016,\\\"humidity\\\":59},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":4,\\\"deg\\\":290},\\\"clouds\\\":{\\\"all\\\":0},\\\"dt\\\":1612612299,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612587724,\\\"sunset\\\":1612622776},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    var wheather_parse = JSON.parse(wheather);\n    var feels_like = Math.round(wheather_parse.main.feels_like - 273, 15);\n    var temp = Math.round(wheather_parse.main.temp - 273, 15);\n    var signigicant_wheather = 0;\n    if (wheather_parse.weather[0].main === ('Rain')) {\n        signigicant_wheather = 4;\n    } else if (wheather_parse.weather[0].main === ('Clouds')) {\n        signigicant_wheather = 1;\n    } else if (wheather_parse.weather[0].main === ('Snow')) {\n        signigicant_wheather = 5;\n    } else if (wheather_parse.weather[0].main === ('Clear')) {\n        signigicant_wheather = 0;//Clear\n    }\n\n    //console.log(wheather_parse.weather[0].main===('Clear'));\n    var main = (wheather_parse.weather)[0].description;\n    var wind = (wheather_parse.wind.speed);\n    var wind_dir = (wheather_parse.wind.deg);\n    var sunrise=(new Date(wheather_parse.sys.sunrise*1000).getHours()*60+(new Date(wheather_parse.sys.sunrise*1000).getMinutes()));\n    var sunset=(new Date(wheather_parse.sys.sunset*1000).getHours()*60+(new Date(wheather_parse.sys.sunset*1000).getMinutes()));\n    var nowtime=(new Date().getHours()*60+(new Date().getMinutes()));\n    var isSunrise = ((sunrise)<(nowtime)&&((sunset)>(nowtime)))?255:100;\n\n    function getMinMax(value, minOutput, maxOutput, maxInput) {\n        var middle = 0;\n        middle = Math.round((value - minOutput) * maxInput / (maxOutput - minOutput));\n        return middle;\n    }\n\n    var ws8211 = \"{\\\"from\\\":[0],\\\"to\\\":[88],\\\"type\\\":[1],\\\"dir\\\":[0],\\\"col\\\":[0],\\\"wh\\\":[128],\\\"br_\\\":[230],\\\"num\\\":1,\\\"sp\\\":254,\\\"dr\\\":255,\\\"fd\\\":4,\\\"fdt\\\":3,\\\"br\\\":255}\";\n    var JsonString = {};\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [41];\n    JsonString.type = [signigicant_wheather];\n    JsonString.dir = [wind_dir < 180 ? 0 : 1];\n    JsonString.col = [getMinMax(temp, -20, 40, 255)];\n    JsonString.wh = [255];\n    JsonString.br_ = [isSunrise];\n    JsonString.num = 1;\n    JsonString.sp = getMinMax(wind, 0, 15, 255);\n    JsonString.dr = 255;\n    JsonString.fd = ((signigicant_wheather == 1) || (signigicant_wheather == 0)) ? 100 : 100;\n    JsonString.fdt = 3;\n    JsonString.br = 255;\n\n    var url = \"http://192.168.1.111/ws2811AJAX?json=\";\n    var AjaxFormat = url + JSON.stringify(JsonString);\n    console.log(AjaxFormat);\n    msg.url = AjaxFormat;\n    return msg;\n    console.log(AjaxFormat);\n    msg.url = AjaxFormat;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":660,"wires":[["1e571c3.7d88de4"]]},{"id":"1e571c3.7d88de4","type":"http request","z":"b24d3973.5ab408","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":660,"wires":[[]]},{"id":"d219b7a5.5c2858","type":"telegram sender","z":"403424f3.deddcc","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":830,"y":160,"wires":[[]]},{"id":"dc6a641f.512cf8","type":"telegram receiver","z":"403424f3.deddcc","name":"","bot":"73e2e908.049518","saveDataDir":"","filterCommands":false,"x":230,"y":300,"wires":[["6126acca.c485c4","ac901d26.fc19e"],[]]},{"id":"eb3be1c5.74814","type":"catch","z":"403424f3.deddcc","name":"","scope":null,"uncaught":false,"x":460,"y":520,"wires":[["6096a499.708eac"]]},{"id":"34154216.6db12e","type":"telegram sender","z":"403424f3.deddcc","name":"Error","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":750,"y":520,"wires":[[]]},{"id":"5e628b03.3a2c04","type":"function","z":"403424f3.deddcc","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n    // \"chatId\": [\"843873284\", \"584925756\"],\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["d219b7a5.5c2858","84bbd43f.c006e8"]]},{"id":"97f007fb.780778","type":"inject","z":"403424f3.deddcc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":160,"wires":[["8e215679.b5ccf8"]]},{"id":"5b691126.9c895","type":"telegram sender","z":"b24d3973.5ab408","name":"send_watering","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":380,"y":460,"wires":[[]]},{"id":"77973176.a4ecb","type":"function","z":"b24d3973.5ab408","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":460,"wires":[["5b691126.9c895"]]},{"id":"6096a499.708eac","type":"function","z":"403424f3.deddcc","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["34154216.6db12e"]]},{"id":"cd88438.a55bfc","type":"telegram sender","z":"f055f34b.05a2a","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":1130,"y":520,"wires":[[]]},{"id":"757c6c32.ef7904","type":"function","z":"f055f34b.05a2a","name":"message","func":"var content = msg.topic+\" :\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[["cd88438.a55bfc"]]},{"id":"ffd34b0c.ef6c38","type":"function","z":"f055f34b.05a2a","name":"check temp outer","func":"var temp_outer= {payload:(global.get('temp_outer'))};\nvar set_outer_temp=global.get('temp_outside_slider');\nvar info={\n    \"topic\":\"warm_floor\",\n    \"payload\":\"теплый пол не включен из-за температуры снаружи:\" + temp_outer.payload + \" установленная температура:\" + set_outer_temp + \"\"\n};\nif (global.get(\"temp_outer_message\")===0){\n    info=null;\n}\nif (temp_outer.payload>set_outer_temp){//если температура больше 10 то отключать теплый пол\n    msg.payload=1;\n    msg.topic=\"warm_floor\";\n    global.set(\"temp_outer_message\",1);\n// global.set(\"temp_outer\",GlobalTemp);\n// msg.payload = global.get(\"Temp\");\n}else{\n    msg.payload=0;\n    info=null;\n}\n\nreturn [msg,info];","outputs":2,"noerr":0,"x":710,"y":340,"wires":[["1cd8067c.ad23fa","bbc4eebc.01131","91da8a24.2598f8","743334da.9a2fec","ed064ec9.33755","f875bb64.946198","f38cc7e0.58ffc8"],["80a26610.d48308"]]},{"id":"775bfbfc.71d754","type":"telegram sender","z":"f055f34b.05a2a","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":1030,"y":380,"wires":[[]]},{"id":"80a26610.d48308","type":"function","z":"f055f34b.05a2a","name":"message","func":"var content = msg.topic+\" :\"+msg.payload;\nif (msg.payload===null){return;}\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":380,"wires":[["775bfbfc.71d754"]]},{"id":"e851ac3f.68426","type":"ui_slider","z":"f055f34b.05a2a","name":"outside_temp","label":"порог температуры снаружи","tooltip":"порог температуры воздуха снаружи, при которой включается теплый пол {{global.get('temp_outer')}}","group":"af9ed211.de8bc","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"set_outside_temp","min":0,"max":"25","step":1,"x":1380,"y":300,"wires":[["5bc84867.1ba3c8"]]},{"id":"5bc84867.1ba3c8","type":"change","z":"f055f34b.05a2a","name":"","rules":[{"t":"set","p":"temp_outside_slider","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":340,"wires":[[]]},{"id":"94496850.0d6228","type":"change","z":"f055f34b.05a2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_outside_slider","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":260,"wires":[["e851ac3f.68426"]]},{"id":"c2be3a1a.bc3d68","type":"inject","z":"f055f34b.05a2a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1210,"y":260,"wires":[["94496850.0d6228"]]},{"id":"ace511f4.77ecc","type":"rbe","z":"b24d3973.5ab408","name":"","func":"deadband","gap":"10","start":"","inout":"out","property":"payload","x":300,"y":520,"wires":[["77d9ef48.326dc"]]},{"id":"86b411d2.57666","type":"function","z":"f055f34b.05a2a","name":"Error","func":"msg.payload = msg.payload+\"\";\nif (msg.payload.startsWith(\"Error:\")){\n\nvar content = msg.topic+\" :\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n    var nowDate = new Date();\n    var Hour = nowDate.getHours();\n    if ((Hour>2)&&(Hour<6)){\n        return null;\n    }\nreturn msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":240,"wires":[["d364b9f2.97f4f8"]]},{"id":"d364b9f2.97f4f8","type":"rbe","z":"f055f34b.05a2a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":240,"wires":[["a3004bed.fe91d8"]]},{"id":"a3004bed.fe91d8","type":"telegram sender","z":"f055f34b.05a2a","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":550,"y":240,"wires":[[]]},{"id":"87ef27ef.8feca8","type":"inject","z":"b24d3973.5ab408","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1540,"wires":[["5d3fae91.d4921"]]},{"id":"92486b6d.bbe208","type":"inject","z":"b24d3973.5ab408","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1620,"wires":[["fcc1fe67.6ff66"]]},{"id":"5d3fae91.d4921","type":"change","z":"b24d3973.5ab408","name":"","rules":[{"t":"set","p":"dividend","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1540,"wires":[["f8f586b2.1e1778"]]},{"id":"fcc1fe67.6ff66","type":"change","z":"b24d3973.5ab408","name":"","rules":[{"t":"set","p":"divisor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1620,"wires":[["f8f586b2.1e1778"]]},{"id":"f8f586b2.1e1778","type":"function","z":"b24d3973.5ab408","name":"","func":"\nreturn {payload:(flow.get('dividend')/flow.get('divisor'))};","outputs":1,"noerr":0,"x":710,"y":1580,"wires":[[]]},{"id":"6126acca.c485c4","type":"function","z":"403424f3.deddcc","name":"reply telegram","func":"//var content = msg.topic+\" payload:\"+msg.payload;\nvar msg_get_ip=null;\nvar payoladmsg = (msg.payload);\n\nvar content_that_Object ={payload: payoladmsg.content};\nvar content_send;\n\nif (content_that_Object.payload==\"ip\"){\n   content_send= context.get ('ip');\n   \n    var ObjectPayload={\n        \"chatId\": [\"843873284\", \"584925756\"],\n        \"type\": \"message\",\n        \"content\":content_send \n    }\n    \n    msg.payload=ObjectPayload;\n    \n    msg_get_ip={\n        \"topic\":1,\n        \"payload\":1\n    }\n    msg=null;\n}\n\n\n\n\n\n\nreturn [msg,msg_get_ip];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[[],[]]},{"id":"ba53cb67.cf39a8","type":"inject","z":"8bf68984.bfc058","name":"","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","topic":"","payload":"12:00","payloadType":"str","x":70,"y":120,"wires":[["e42217ed.5d2318","36e639f7.e98986","78053ccf.f6e604","ea72b397.00351","8e1a5337.4146c"]]},{"id":"1df00fb3.56ec8","type":"link in","z":"b24d3973.5ab408","name":"Bathroom_out_deadband","links":["9e9b4f5a.931ae"],"x":175,"y":520,"wires":[[]]},{"id":"cc5e7ed8.2f752","type":"inject","z":"740ded65.f25114","d":true,"name":"","repeat":"10","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["35431a6.f0fc0e6"]]},{"id":"35431a6.f0fc0e6","type":"http request","z":"740ded65.f25114","name":"балкон","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":220,"wires":[["39a22817.cf9898","a9db108f.4b3ff"]]},{"id":"af0412c0.6d705","type":"ui_chart","z":"740ded65.f25114","name":"","group":"83864b8e.f03f28","order":4,"width":"0","height":"0","label":"температура","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":220,"wires":[[]]},{"id":"f8f37ca9.4d201","type":"function","z":"740ded65.f25114","name":"балкон","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};//увлажнение\nvar stat2 ={payload: parsed.stat[1]};//полив\nvar stat3 ={payload: parsed.stat[2]};//температура\nvar stat4 ={payload: parsed.stat[3]};//влажность\nvar stat8 ={payload: parsed.stat[8]};//цветок1\nstat8.topic=\"flv1\";\nvar stat9 ={payload: parsed.stat[9]};//цветок2\nstat8.payload = (1024 - stat8.payload);\nstat9.topic=\"flv2\";\n\nreturn [ stat1, stat2, stat3 , stat4,stat8,stat9 ];","outputs":6,"noerr":0,"x":600,"y":240,"wires":[["fcf43537.273168"],["1255df57.685ed1"],["7533cb02.1fe324"],["e80df7e2.630778"],["cc5b12a4.8a7bd"],[]]},{"id":"2fcf72f1.409f3e","type":"ui_chart","z":"740ded65.f25114","d":true,"name":"","group":"83864b8e.f03f28","order":1,"width":"0","height":"0","label":"увлажнение","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":200,"wires":[[]]},{"id":"c958c63c.ffef18","type":"ui_chart","z":"740ded65.f25114","d":true,"name":"","group":"83864b8e.f03f28","order":3,"width":"0","height":"0","label":"полив","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":180,"wires":[[]]},{"id":"a800669d.8741e8","type":"ui_chart","z":"740ded65.f25114","name":"","group":"83864b8e.f03f28","order":5,"width":"0","height":"0","label":"влажность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":240,"wires":[[]]},{"id":"829257c8.12fd68","type":"http request","z":"740ded65.f25114","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.114","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":200,"wires":[[]]},{"id":"4ae944c1.abd89c","type":"function","z":"740ded65.f25114","name":"saveData","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"KEY\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": \"myfile.png\"\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":200,"wires":[["829257c8.12fd68"]]},{"id":"a7d21ef1.f73c2","type":"function","z":"740ded65.f25114","name":"reparse","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};\nvar stat2 ={payload: parsed.stat[1]};\nvar stat3 ={payload: parsed.stat[2]};\nvar stat4 ={payload: parsed.stat[3]};\n\nmsg.payload ={\n\"mode\":\"on\",\n\"humidity\":stat4.payload,\n\"temperature\":stat3.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[[]]},{"id":"39a22817.cf9898","type":"change","z":"740ded65.f25114","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"balcony","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["f8f37ca9.4d201","a7d21ef1.f73c2"]]},{"id":"cc5b12a4.8a7bd","type":"ui_chart","z":"740ded65.f25114","name":"цветок1","group":"af9ed211.de8bc","order":3,"width":0,"height":0,"label":"цветок1","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":900,"y":280,"wires":[[]]},{"id":"7533cb02.1fe324","type":"rbe","z":"740ded65.f25114","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":220,"wires":[["af0412c0.6d705"]]},{"id":"1255df57.685ed1","type":"rbe","z":"740ded65.f25114","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":200,"wires":[["2fcf72f1.409f3e"]]},{"id":"fcf43537.273168","type":"rbe","z":"740ded65.f25114","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":180,"wires":[["c958c63c.ffef18"]]},{"id":"a9db108f.4b3ff","type":"function","z":"740ded65.f25114","name":"Error","func":"msg.payload = msg.payload+\"\";\nif (msg.payload.startsWith(\"Error:\")){\n\nvar content = msg.topic+\" :\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n    var nowDate = new Date();\n    var Hour = nowDate.getHours();\n    if ((Hour>2)&&(Hour<6)){\n        return null;\n    }\nreturn msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[["1591d531.81272b"]]},{"id":"1591d531.81272b","type":"rbe","z":"740ded65.f25114","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":320,"wires":[["cb9a4fd.f3ae5b"]]},{"id":"cb9a4fd.f3ae5b","type":"telegram sender","z":"740ded65.f25114","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":610,"y":320,"wires":[[]]},{"id":"e80df7e2.630778","type":"rbe","z":"740ded65.f25114","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":240,"wires":[["a800669d.8741e8"]]},{"id":"930cfeef.deb22","type":"inject","z":"f055f34b.05a2a","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["97360f98.96bfa"]]},{"id":"794dd405.20737c","type":"inject","z":"740ded65.f25114","d":true,"name":"полив","repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp_interval","payload":"true","payloadType":"bool","x":220,"y":560,"wires":[["290e07cc.4aaa08"]]},{"id":"7cf72f2d.efeac","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/sendAJAX?json={\"t\":0,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":460,"wires":[[]]},{"id":"5ef4f6b7.3d29b8","type":"delay","z":"740ded65.f25114","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":500,"wires":[["68264a94.e2dde4"]]},{"id":"68264a94.e2dde4","type":"change","z":"740ded65.f25114","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["7cf72f2d.efeac"]]},{"id":"a491f724.e20ee8","type":"function","z":"740ded65.f25114","name":"balcony","func":"var info ={\n    \"payload\":0,\n    \"topic\":\"полив\"\n}\nwatering_count=flow.get('watering_count')\nif (msg.topic==\"force_watering\"){\n     msg.payload=0; \n     info ={\n       \"payload\":\"принудительный полив \"+waterDiff,\n    \"topic\":\"полив\"  \n     }\n}else{\n\nwatering_level=global.get('watering_level');\n\nvar parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};//полив\nvar stat2 ={payload: parsed.stat[1]};//увлажнение\nvar stat3 ={payload: parsed.stat[2]};//температура\nvar stat4 ={payload: parsed.stat[3]};//влажность\nvar stat8 ={payload: parsed.stat[8]};//цветок1\nstat8.topic=\"flv1\";\nvar stat9 ={payload: parsed.stat[9]};//цветок2\nstat9.topic=\"flv2\";\n    \n    //water1=100-stat8.payload*100/1024;\n    water1=1024-stat8.payload;\n    water2=stat9.payload*100/1024;\n    waterDiff=Math.round(water2-water1);\n    \n//msg.payload=1;\n\n//if ((stat8.payload<300)&&(stat9.payload<300)){\nwatering_count_msg = {}\n\n\nif (water1<watering_level){\n    watering_count++;\n    flow.set('watering_count',watering_count);\n    msg.payload=0;\n    info={\"payload\":\"полив \"+water1+\" watering_count:\" +watering_count,\n    \"topic\":\"полив\"};\n}else{\n    msg.payload=1;\n    info.payload =\"полива не было \"+waterDiff;\n    info=null;\n}\n}\nwatering_count_msg.payload = watering_count;\nreturn [msg,info,watering_count_msg];","outputs":3,"noerr":0,"x":540,"y":480,"wires":[["7cf72f2d.efeac","5ef4f6b7.3d29b8"],["47da0f0f.6b136"],["e686e4c0.bfd4e8"]]},{"id":"290e07cc.4aaa08","type":"http request","z":"740ded65.f25114","name":"balcony","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":560,"wires":[["a491f724.e20ee8"]]},{"id":"9791f034.84fa4","type":"ui_button","z":"740ded65.f25114","name":"","group":"83864b8e.f03f28","order":2,"width":0,"height":0,"passthru":false,"label":"Полив","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"force_watering","x":330,"y":480,"wires":[["a491f724.e20ee8"]]},{"id":"5712e9d3.c36f98","type":"telegram sender","z":"740ded65.f25114","name":"send_watering","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":960,"y":540,"wires":[[]]},{"id":"47da0f0f.6b136","type":"function","z":"740ded65.f25114","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":540,"wires":[["5712e9d3.c36f98"]]},{"id":"4cc4b2b8.cbf36c","type":"ui_slider","z":"740ded65.f25114","name":"watering_level","label":"вл почвы","tooltip":"","group":"af9ed211.de8bc","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"1024","step":1,"x":740,"y":420,"wires":[["3befce62.a6fcc2"]]},{"id":"3befce62.a6fcc2","type":"change","z":"740ded65.f25114","name":"","rules":[{"t":"set","p":"watering_level","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":420,"wires":[[]]},{"id":"49aec47d.c157ac","type":"change","z":"740ded65.f25114","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"watering_level","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["4cc4b2b8.cbf36c"]]},{"id":"dba39553.e9a958","type":"inject","z":"740ded65.f25114","d":true,"name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":420,"wires":[["49aec47d.c157ac"]]},{"id":"bc0bc85c.5194b8","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":610,"y":720,"wires":[["caa1cf75.0037","88d4b2fe.cea12"]]},{"id":"18065d00.445db3","type":"function","z":"740ded65.f25114","name":"Request Wheather","func":"var city=\"Dnipro\";\nvar APIkey=\"c3e9cf7a63b7fb63e4ee7504ae3dd41e\";\nmsg.url =\"api.openweathermap.org/data/2.5/weather?q=\"+city+\"&appid=\"+APIkey+\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["bc0bc85c.5194b8"]]},{"id":"68c2c79a.353fa8","type":"inject","z":"740ded65.f25114","name":"","repeat":"240","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":230,"y":720,"wires":[["18065d00.445db3"]]},{"id":"caa1cf75.0037","type":"function","z":"740ded65.f25114","name":"Decode Weather","func":" var wheather=msg.payload;\n var nowDate = new Date();\n var Hour = nowDate.getHours();\n \n//var day = context.get(\"day\");   \n var nowBright=5;\n\nif ((Hour>=8)&&(Hour<21)){\n    nowBright=10;\n}\n \n \n    //var wheather = \"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":500,\\\"main\\\":\\\"Rain\\\",\\\"description\\\":\\\"light rain\\\",\\\"icon\\\":\\\"10d\\\"},{\\\"id\\\":701,\\\"main\\\":\\\"Mist\\\",\\\"description\\\":\\\"mist\\\",\\\"icon\\\":\\\"50d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":279.48,\\\"feels_like\\\":275.13,\\\"temp_min\\\":279.15,\\\"temp_max\\\":279.82,\\\"pressure\\\":1002,\\\"humidity\\\":100},\\\"visibility\\\":3500,\\\"wind\\\":{\\\"speed\\\":5,\\\"deg\\\":190},\\\"rain\\\":{\\\"1h\\\":0.11},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612449242,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612415098,\\\"sunset\\\":1612449779},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather2=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":803,\\\"main\\\":\\\"Clouds\\\",\\\"description\\\":\\\"broken clouds\\\",\\\"icon\\\":\\\"04n\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":267.1,\\\"feels_like\\\":257.04,\\\"temp_min\\\":267.04,\\\"temp_max\\\":267.15,\\\"pressure\\\":1018,\\\"humidity\\\":73},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":10,\\\"deg\\\":320},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612555439,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612501412,\\\"sunset\\\":1612536277},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather3=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":800,\\\"main\\\":\\\"Clear\\\",\\\"description\\\":\\\"clear sky\\\",\\\"icon\\\":\\\"01d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":269.43,\\\"feels_like\\\":263.53,\\\"temp_min\\\":268.71,\\\"temp_max\\\":270.15,\\\"pressure\\\":1016,\\\"humidity\\\":59},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":4,\\\"deg\\\":290},\\\"clouds\\\":{\\\"all\\\":0},\\\"dt\\\":1612612299,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612587724,\\\"sunset\\\":1612622776},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    var wheather_parse = JSON.parse(wheather);\n    var feels_like = Math.round(wheather_parse.main.feels_like - 273, 15);\n    var temp = Math.round(wheather_parse.main.temp - 273, 15);\n    var signigicant_wheather = 0;\n    if (wheather_parse.weather[0].main === ('Rain')) {\n        signigicant_wheather = 4;\n    } else if (wheather_parse.weather[0].main === ('Clouds')) {\n        signigicant_wheather = 1;\n    } else if (wheather_parse.weather[0].main === ('Snow')) {\n        signigicant_wheather = 5;\n    } else if (wheather_parse.weather[0].main === ('Clear')) {\n        signigicant_wheather = 0;//Clear\n    }\n\n    //console.log(wheather_parse.weather[0].main===('Clear'));\n    var main = (wheather_parse.weather)[0].description;\n    var wind = (wheather_parse.wind.speed);\n    var wind_dir = (wheather_parse.wind.deg);\n    var sunrise=(new Date(wheather_parse.sys.sunrise*1000).getHours()*60+(new Date(wheather_parse.sys.sunrise*1000).getMinutes()));\n    var sunset=(new Date(wheather_parse.sys.sunset*1000).getHours()*60+(new Date(wheather_parse.sys.sunset*1000).getMinutes()));\n    var nowtime=(new Date().getHours()*60+(new Date().getMinutes()));\n    var isSunrise = ((sunrise)<(nowtime)&&((sunset)>(nowtime)))?255:255;\n    //var isSunrise = ((sunrise)<(nowtime)&&((sunset)>(nowtime)))?:100;\n\n    function getMinMax(value, minOutput, maxOutput, maxInput) {\n        var middle = 0;\n        middle = Math.round((value - minOutput) * maxInput / (maxOutput - minOutput));\n        return middle;\n    }\n\n    var ws8211 = \"{\\\"from\\\":[0],\\\"to\\\":[88],\\\"type\\\":[1],\\\"dir\\\":[0],\\\"col\\\":[0],\\\"wh\\\":[128],\\\"br_\\\":[230],\\\"num\\\":1,\\\"sp\\\":254,\\\"dr\\\":255,\\\"fd\\\":4,\\\"fdt\\\":3,\\\"br\\\":255}\";\n    var JsonString = {};\n\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [41];\n    JsonString.type = [signigicant_wheather];\n    JsonString.dir = [wind_dir < 180 ? 0 : 1];\n    JsonString.col = [getMinMax(temp, -20, 40, 255)];\n    JsonString.wh = [255];\n    JsonString.br_ = [isSunrise];\n    JsonString.num = 1;\n    JsonString.sp = 15-getMinMax(wind, 0, 15, 255);\n    JsonString.dr = 255;\n    JsonString.fd = ((signigicant_wheather === 1) || (signigicant_wheather === 0)) ? 100 : 100;\n    JsonString.fdt = 3;\n    JsonString.br = 10;\n    JsonString.inv = 0;\n    JsonString.ws8211_loop = 1;\n        var JsonString_bathroom = JsonString;\n        JsonString_bathroom.inv=0;\n        JsonString_bathroom.to = [88];\n        JsonString_bathroom.br = nowBright;\n// var msg_bathroom=msg;\n// var msg_balcony=msg;\n\n    var url_balcony = \"http://192.168.1.111/ws2811AJAX?json=\"+JSON.stringify(JsonString);\n    var url_bathroom = \"http://192.168.1.112/ws2811AJAX?json=\"+JSON.stringify(JsonString_bathroom);\n    // var AjaxFormat_balcony = url_balcony;\n    // var AjaxFormat_bathroom = url_bathroom;\n    //console.log(AjaxFormat_balcony);\n    var add = \"json=\";\n    msg_balcony={\n       \"url\" : url_balcony\n    }\n    msg_bathroom={\n       \"url\" : url_bathroom\n    }\n    // msg_balcony.url = AjaxFormat_balcony;\n    // msg_bathroom.url = AjaxFormat_bathroom;\n    // msg_bathroom.payload = JSON.stringify(JsonString_bathroom);\n    // msg_balcony.payload = JSON.stringify(JsonString);\n\n    //return msg;\n    //console.log(AjaxFormat);\n   // msg.url = AjaxFormat;\n    var temp_obj={\n        \"payload\":temp,\n        \"topic\":\"temp\"\n    }\n        var temp_feels_like={\n        \"payload\":feels_like,\n        \"topic\":\"feels_like\"\n    }\n    var pressure_lvl={\n        \"payload\":wheather_parse.main.pressure,\n        \"topic\":\"press\"\n    }\n\n//return [temp_obj,[msg_bathroom,msg_balcony]];\nreturn [temp_obj,msg_bathroom,temp_feels_like,pressure_lvl];","outputs":4,"noerr":0,"x":810,"y":720,"wires":[["55fa40bf.95feb","d35e868d.429588"],["c02e76c4.da2fd8","d10586af.710268"],["d6ab9548.6488e8"],["c3d67c7f.cfbfd"]]},{"id":"c02e76c4.da2fd8","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":740,"wires":[["7ea306fa.716c78"]]},{"id":"55fa40bf.95feb","type":"change","z":"740ded65.f25114","name":"set temp","rules":[{"t":"set","p":"temp_outer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":700,"wires":[[]]},{"id":"d35e868d.429588","type":"ui_text","z":"740ded65.f25114","group":"af9ed211.de8bc","order":1,"width":0,"height":0,"name":"","label":"Температура снаружи","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":660,"wires":[]},{"id":"d10586af.710268","type":"debug","z":"740ded65.f25114","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":720,"wires":[]},{"id":"7ea306fa.716c78","type":"debug","z":"740ded65.f25114","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":760,"wires":[]},{"id":"5f0655e1.e1fe9c","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/sendAJAX?json={\"t\":0,\"v\":0}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":880,"wires":[["f7dcfbac.fb93e8"]]},{"id":"f7dcfbac.fb93e8","type":"delay","z":"740ded65.f25114","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":880,"wires":[["be88582c.e6bc08"]]},{"id":"be88582c.e6bc08","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/sendAJAX?json={\"t\":0,\"v\":1}","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":880,"wires":[[]]},{"id":"dfee972d.9431b8","type":"inject","z":"740ded65.f25114","d":true,"name":"","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":"","topic":"","payload":"It is 4pm on a weekday!","payloadType":"str","x":270,"y":880,"wires":[["5f0655e1.e1fe9c"]]},{"id":"77143e2d.6e6f1","type":"function","z":"740ded65.f25114","name":"Request Wheather","func":"var city=\"Dnipro\";\nvar lat=\"48\";\nvar lon=\"35\";\nvar APIkey=\"c3e9cf7a63b7fb63e4ee7504ae3dd41e\";\n//msg.url =\"api.openweathermap.org/data/2.5/forecast?lat=\"+lat+\"&lon=\"+lon+\"&appid=\"+APIkey+\"\";\nmsg.url =\"api.openweathermap.org/data/2.5/forecast?q=\"+city+\"&appid=\"+APIkey+\"\";\n\n//\"api.openweathermap.org/data/2.5/forecast?lat=35&lon=139&appid={API key}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":940,"wires":[["1f5bb370.23405d"]]},{"id":"1f5bb370.23405d","type":"http request","z":"740ded65.f25114","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":630,"y":940,"wires":[["49295843.8498e8"]]},{"id":"49295843.8498e8","type":"debug","z":"740ded65.f25114","name":"forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":940,"wires":[]},{"id":"9229c589.23e148","type":"inject","z":"740ded65.f25114","d":true,"name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":940,"wires":[["77143e2d.6e6f1"]]},{"id":"324777d3.5cc7f8","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.110/sendAJAX?json={\"t\":7,\"v\":0}","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":340,"wires":[["b9ef0e73.663c3"]]},{"id":"cf9d16e0.184c58","type":"http request","z":"c34706b9.5929b8","name":"включить свет","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":400,"wires":[[]]},{"id":"88f17aea.cdd8f8","type":"switch","z":"c34706b9.5929b8","name":"дет внутри","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":380,"wires":[["c55e0b5d.6572a8","e5f90c4f.9f64a"],[]]},{"id":"cfbd9911.d3efc8","type":"function","z":"c34706b9.5929b8","name":"двери","func":"\nfunction returnTrueFalse(message_input_value){\n    if (message_input_value == 1){\n        return true;\n    }\n    else {\n        return false;\n    }\n}\n\nvar parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0],topic:\"открытие двери\"};//открытие двери\nvar stat1 ={payload: parsed.stat[1]};//звонок\nvar stat2 ={payload: parsed.stat[2]};//детектор движения\nvar stat3 ={payload: parsed.stat[3]};//3 - домофон питание\nvar stat4 ={payload: parsed.stat[4]};//домофон вкл D4\nvar stat5 ={payload: parsed.stat[5]};//замок D3\nvar stat6 ={payload: parsed.stat[6]};///мощность\n//var stat7 ={payload: returnTrueFalse(parsed.stat[7])};///свет D6\nvar stat7 ={payload: parsed.stat[7]};///свет D6\n\nvar stat8 ={payload: parsed.stat[8],topic:\"детектор внутри\"};\n\nreturn [ stat0, stat1, stat2 , stat3 , stat4 , stat5 , stat6, stat7 , stat8 ];\n\n","outputs":9,"noerr":0,"x":630,"y":240,"wires":[["c2277ffe.5e0a6"],["5a7dac1a.5c6224"],["658ac2f8.1f84dc"],[],[],[],[],["67a87cd7.50b304"],["a17d6add.a4f008"]]},{"id":"eac2db5b.317388","type":"inject","z":"c34706b9.5929b8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["c143f5c8.b80608"]]},{"id":"c143f5c8.b80608","type":"http request","z":"c34706b9.5929b8","name":"двери","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":180,"wires":[["cfbd9911.d3efc8","f5a3be78.11b2a","c2f737c3.949448","aa88a302.68a82"]]},{"id":"aa88a302.68a82","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":180,"wires":[["c143f5c8.b80608"]]},{"id":"c55e0b5d.6572a8","type":"function","z":"c34706b9.5929b8","name":"hours","func":"var nowDate = new Date();\nvar Hour = nowDate.getHours();\n\n\nif ((Hour>=8)&&(Hour<21)){\n    msg.payload = 1024;\n    msg.url =\"192.168.1.110/sendAJAX?json={'t':7,'v':\"+msg.payload+\"}\";\n    context.set(\"nightLight\",0);\n}\nelse{\n//    msg.payload = 0;\n     msg.url =\"http://192.168.1.112/ws2811AJAX?json={'from':[53,44],'to':[88,88],'type':[2,0],'dir':[0,0],'col':[218,128],'wh':[153,128],'br_':[158,128],'num':2,'sp':11,'dr':255,'fd':60,'fdt':3,'br':132}\";\n    \n     context.set(\"nightLight\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["cf9d16e0.184c58"]]},{"id":"a054cf9f.644b6","type":"telegram sender","z":"c34706b9.5929b8","name":"send","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":1210,"y":40,"wires":[[]]},{"id":"626f0c0f.6985b4","type":"function","z":"c34706b9.5929b8","name":"message","func":"if (msg.payload ==0) return;\nvar content = msg.topic+\" payload:\"+msg.payload;\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":40,"wires":[["a054cf9f.644b6"]]},{"id":"e5f90c4f.9f64a","type":"function","z":"c34706b9.5929b8","name":"multi unit delay","func":"let delay = 300 * 1000;\nvar delayName = 'tout_light';\n    myResetFunction();\n//==================================\n\nfunction myDelayFunction() {\n  let t = setTimeout(myEndFunction, delay);\n  context.set(delayName,t);\n}\n\n\nfunction myEndFunction() {\n  //node.send({payload:Date.now()});\n  node.send({payload:msg.payload});  \n}\n\n\nfunction myResetFunction() {\n  let t = context.get(delayName);    \n  clearTimeout(t);\n  //node.send({payload:Date.now()}); \n  //node.send({payload:context.get('pl'),delay:\"reset\"});   \n}\n\n//==================================\n\n\n\n  //node.send({payload:Date.now()});\n  myDelayFunction();  \n\nreturn null;","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["324777d3.5cc7f8"]]},{"id":"a5855a44.80ae88","type":"ui_chart","z":"c34706b9.5929b8","name":"","group":"b0479260.5ff93","order":3,"width":"0","height":"0","label":"Мощность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1110,"y":640,"wires":[[]]},{"id":"e37fad46.2437","type":"function","z":"c34706b9.5929b8","name":"двери","func":"\nfunction returnTrueFalse(message_input_value){\n    if (message_input_value == 1){\n        return true;\n    }\n    else {\n        return false;\n    }\n}\n\n\nvar parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//открытие двери\nvar stat1 ={payload: parsed.stat[1]};//детектор внутри\nvar stat2 ={payload: parsed.stat[2]};//детектор движения\nvar stat3 ={payload: parsed.stat[3]};//3 - домофон питание\nvar stat4 ={payload: parsed.stat[4]};//домофон вкл D4\nvar stat5 ={payload: parsed.stat[5]};//замок D3\nvar stat6 ={payload: Math.round(parsed.stat[6])};///мощность\nvar stat7 ={payload: parsed.stat[7]};///свет D6\nvar stat8 ={payload: parsed.stat[8]};///звонок D7\nstat0.topic=\"открытие двери\";\n\n\nreturn [ stat0, stat1, stat2 , stat3 , stat4 , stat5 , stat6, stat7 , stat8 ];","outputs":9,"noerr":0,"x":470,"y":600,"wires":[["9f93bf13.396f4","1466b467.9a0e5c"],[],["c065fc32.ab0ce"],["8fd34cf6.5cd49"],["f0ba7d19.a5343"],[],["fd154355.64bb3","d095a473.fbba48","f0fedaab.3545a8"],[],[]]},{"id":"153df2a8.790fcd","type":"ui_chart","z":"c34706b9.5929b8","d":true,"name":"","group":"3b1bef7b.b17c8","order":5,"width":"0","height":"0","label":"открытие двери","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":780,"y":520,"wires":[[]]},{"id":"d93e565f.1fa6d8","type":"ui_chart","z":"c34706b9.5929b8","d":true,"name":"","group":"3b1bef7b.b17c8","order":6,"width":"0","height":"0","label":"детектор движения входная дверь","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":600,"wires":[[]]},{"id":"28102fc8.ffc9d","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":580,"wires":[[]]},{"id":"3dde599a.a2d2c6","type":"ui_switch","z":"c34706b9.5929b8","name":"","label":"камера двери","tooltip":"","group":"9c427bae.9c4118","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1480,"y":500,"wires":[["2b216c7e.b30014"]]},{"id":"2b216c7e.b30014","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:3,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":500,"wires":[[]]},{"id":"9f93bf13.396f4","type":"ui_button","z":"c34706b9.5929b8","d":true,"name":"","group":"3b1bef7b.b17c8","order":1,"width":0,"height":0,"passthru":false,"label":"Открыть замок","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":660,"y":560,"wires":[["5a542bde.72f164"]]},{"id":"5a542bde.72f164","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":560,"wires":[["da24de1c.095c5"]]},{"id":"8d815e90.ffcff","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:1}","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":560,"wires":[[]]},{"id":"da24de1c.095c5","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":560,"wires":[["8d815e90.ffcff"]]},{"id":"fd154355.64bb3","type":"ui_gauge","z":"c34706b9.5929b8","name":"","group":"e9f27305.060ed","order":3,"width":"3","height":"1","gtype":"gage","title":"мощность","label":"кВт","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":680,"wires":[]},{"id":"1466b467.9a0e5c","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":520,"wires":[["153df2a8.790fcd"]]},{"id":"d095a473.fbba48","type":"function","z":"c34706b9.5929b8","d":true,"name":"message","func":"\nmsg = {\n    \"topic\":\"мощность\"\n}\nvar content = msg.topic+\" кВт:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\":\"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":740,"wires":[["9c58d9b.6439f28"]]},{"id":"9c58d9b.6439f28","type":"telegram sender","z":"c34706b9.5929b8","name":"homeOveralBot","bot":"f62810d7.90ef4","haserroroutput":false,"outputs":1,"x":900,"y":740,"wires":[[]]},{"id":"c065fc32.ab0ce","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":650,"y":600,"wires":[["d93e565f.1fa6d8"]]},{"id":"f5a3be78.11b2a","type":"function","z":"c34706b9.5929b8","name":"Error","func":"msg.payload = msg.payload+\"\";\n\nif (msg.payload.startsWith(\"Error:\")){\n    \n    var content = msg.topic+\" :\"+msg.payload;\n    var TelegramChatIds = global.get(\"TelegramChatIds\");\n    var ObjectPayload={\n        \"chatId\": TelegramChatIds,\n        \"type\": \"message\",\n        \"content\":content \n    }\n    msg.payload=ObjectPayload;\n    \n    var nowDate = new Date();\n    var Hour = nowDate.getHours();\n    if ((Hour>2)&&(Hour<6)){\n        return null;\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":240,"wires":[["3d87d811.457928"]]},{"id":"3d87d811.457928","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":240,"wires":[["1511cfbb.5689c"]]},{"id":"1511cfbb.5689c","type":"telegram sender","z":"c34706b9.5929b8","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":390,"y":240,"wires":[[]]},{"id":"c2f737c3.949448","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":290,"y":600,"wires":[["e37fad46.2437"]]},{"id":"b9ef0e73.663c3","type":"function","z":"c34706b9.5929b8","name":"set context to 0","func":"context.set(\"nightLight\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":340,"wires":[[]]},{"id":"e471b13e.eef8a","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/ws2811AJAX?json={%22from%22:[0],%22to%22:[88],%22type%22:[3],%22dir%22:[0],%22col%22:[128],%22wh%22:[134],%22br_%22:[255],%22num%22:1,%22sp%22:67,%22dr%22:8,%22fd%22:65,%22fdt%22:3,%22br%22:255}","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":80,"wires":[["a2746a00.337c18"]]},{"id":"a2746a00.337c18","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":80,"wires":[["f4d28165.ba229"]]},{"id":"f4d28165.ba229","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/ws2811AJAX?json={%22from%22:[0],%22to%22:[88],%22type%22:[3],%22dir%22:[0],%22col%22:[128],%22wh%22:[134],%22br_%22:[255],%22num%22:1,%22sp%22:67,%22dr%22:8,%22fd%22:65,%22fdt%22:3,%22br%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":80,"wires":[[]]},{"id":"5a7dac1a.5c6224","type":"switch","z":"c34706b9.5929b8","d":true,"name":"звонок","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":80,"wires":[["626f0c0f.6985b4","e471b13e.eef8a"]]},{"id":"674ad594.64147c","type":"switch","z":"c34706b9.5929b8","name":"дверь открылась","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":40,"wires":[["626f0c0f.6985b4"]]},{"id":"c2277ffe.5e0a6","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":40,"wires":[["674ad594.64147c","e471b13e.eef8a","7d221ca0.7a1f14"]]},{"id":"f0fedaab.3545a8","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":640,"wires":[["41549e7b.d3a1e"]]},{"id":"7d221ca0.7a1f14","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:3,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":240,"wires":[["f46a94fe.2a6828"]]},{"id":"f0a730fb.06b94","type":"delay","z":"c34706b9.5929b8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":240,"wires":[["eeef7ac6.e53138"]]},{"id":"eeef7ac6.e53138","type":"http request","z":"c34706b9.5929b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:3,%22v%22:1}","tls":"","persist":false,"proxy":"","authType":"","x":1530,"y":240,"wires":[[]]},{"id":"658ac2f8.1f84dc","type":"switch","z":"c34706b9.5929b8","name":"движ снаружи","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":240,"wires":[["7d221ca0.7a1f14"]]},{"id":"f46a94fe.2a6828","type":"function","z":"c34706b9.5929b8","name":"reset delay","func":"msg.delay = 20*1000;\nvar m1 = {reset:true};\nreturn [[m1,msg]];","outputs":1,"noerr":0,"x":1210,"y":240,"wires":[["f0a730fb.06b94"]]},{"id":"75f3d3c8.b1a63c","type":"http request","z":"c34706b9.5929b8","name":"включить свет дверь","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.110/sendAJAX?json={\"t\":7,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1240,"y":280,"wires":[[]]},{"id":"820ca007.a9432","type":"ui_gauge","z":"c34706b9.5929b8","name":"Temp","group":"3b1bef7b.b17c8","order":2,"width":"3","height":"2","gtype":"donut","title":"Temp","label":"C","format":"{{value}}","min":"-20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":850,"y":800,"wires":[]},{"id":"88d4b2fe.cea12","type":"link out","z":"740ded65.f25114","name":"Weather_out","links":["919d7136.f92f9"],"x":755,"y":640,"wires":[]},{"id":"919d7136.f92f9","type":"link in","z":"c34706b9.5929b8","name":"temp_gauge","links":["88d4b2fe.cea12"],"x":515,"y":820,"wires":[["926daf16.b653"]]},{"id":"926daf16.b653","type":"function","z":"c34706b9.5929b8","name":"decode_temp","func":" var wheather=msg.payload;\n\n    var wheather_parse = JSON.parse(wheather);\n    var feels_like = Math.round(wheather_parse.main.feels_like - 273, 15);\n    var temp = Math.round(wheather_parse.main.temp - 273, 15);\n\nmsg.payload = temp;\n\nmsg_wind = {};\nmsg_cloud = {};\n\nmsg_wind.payload = wheather_parse.wind.speed;\nmsg_cloud.payload = wheather_parse.clouds.all;\n\nreturn [msg,msg_wind,msg_cloud];","outputs":3,"noerr":0,"x":680,"y":820,"wires":[["820ca007.a9432"],["6869d05.6a5ae3"],["1db3f66f.faf6da"]]},{"id":"e5b2d3cc.9e659","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":5,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":2430,"y":80,"wires":[[]]},{"id":"7a38321c.54b1ec","type":"ui_switch","z":"fb9e4f44.2562a","name":"","label":"вентилятор в ванной","tooltip":"","group":"9c427bae.9c4118","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1920,"y":80,"wires":[["b79845fa.cc6a58"]]},{"id":"b9bf524c.b2393","type":"ui_switch","z":"fb9e4f44.2562a","d":true,"name":"","label":"вентилятор в ванной правый","tooltip":"","group":"9c427bae.9c4118","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1950,"y":120,"wires":[["b79845fa.cc6a58"]]},{"id":"d8bd4c36.9bddc","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":6,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":2430,"y":120,"wires":[[]]},{"id":"867f45cf.7456b8","type":"http request","z":"fb9e4f44.2562a","name":"ванна","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":120,"wires":[["1985468f.753b19","56408194.1f59d","9d3df663.878278","37159c45.3d4af4"]]},{"id":"1985468f.753b19","type":"function","z":"fb9e4f44.2562a","name":"Bathroom","func":"\nvar parsed =(msg.payload);\n\nvar stat0={\n    \"payload\":0,\n    \"topic\":0\n};\nvar stat2={\n  \"payload\":0,\n    \"topic\":\"humidity\"  \n};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//колонки\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\n\nvar DealyMessageOff={\n    topic:\"fans\",\n    payload:1};    \nif ((stat5.payload===0)||(stat6.payload===0)){\nDealyMessageOff.payload=0;    \n}else{\nDealyMessageOff.payload=1;  \n}\n\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\n\nhttpreq = {\n    \"topic\":\"\",\n    \"payload\":\"\",\n    \"url\":\"\"\n}\nhttpreq.url=\"http://192.168.1.112/sendAJAX?json={\\\"t\\\":127,\\\"v\\\":0}\";\nvar httreq_ch = false;\nhttpreq = null;\nreturn [ stat0, stat1, stat2,stat4,stat5,stat6,DealyMessageOff,httpreq ];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["9aba6ca6.9e89a","8559cd27.0d6c5","617f1a1e.079a94"],[],["617f1a1e.079a94"],["529d7c5c.9646f4"],["7a38321c.54b1ec"],["b9bf524c.b2393"],["d227000.7f225"],["2df8d141.36237e"]]},{"id":"56408194.1f59d","type":"function","z":"fb9e4f44.2562a","name":"Error","func":"var nowDate = new Date();\nvar Hour = nowDate.getHours();\n\n\n\n\n\n\n\nmsg.payload = msg.payload+\"\";\nif (msg.payload.startsWith(\"Error:\")){\n    var content = msg.topic+\" :\"+msg.payload;\n    var ObjectPayload={\n        \"chatId\": \"843873284\",\n        \"type\": \"message\",\n        \"content\":content \n    }\n    msg.payload=ObjectPayload;\n    \n    if ((Hour>2)&&(Hour<6)){\n        return null;\n    }\nreturn msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1230,"y":320,"wires":[["add7c008.ab8cb"]]},{"id":"ffbba760.fcd368","type":"telegram sender","z":"fb9e4f44.2562a","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":1510,"y":320,"wires":[[]]},{"id":"add7c008.ab8cb","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1370,"y":320,"wires":[["ffbba760.fcd368"]]},{"id":"f065ebb.c51b318","type":"delay","z":"fb9e4f44.2562a","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":160,"wires":[["f3a3f8a8.bd1518"]]},{"id":"eb9c9092.af22","type":"function","z":"fb9e4f44.2562a","name":"reset delay","func":"var m1 = {\n    reset: true,\n    payload: msg.payload,\n    topic: msg.topic\n};\n\nif (msg.topic == \"move\") {\n    msg.delay = 3 * 1000 * 10;\n    if (context.get(\"fanson\") === false){\n        msg.payload = 0;\n        //return [[m1, msg]];\n    }else{\n        //return [m1];\n    }\n\n}\nelse if (msg.topic == \"Hum\") {\n    msg.delay = 15 * 1000 * 60;\n    return [[m1, msg]];\n} else if (msg.topic == \"fans\"){\n    if ((msg.payload === 0)&&(context.get(\"fanson\") === false)){\n        context.set(\"fanson\",true); // to store a variable\n        msg.delay = 30 * 1000 * 60;\n        return [[m1, msg]];\n    }\n    if (msg.payload === 1){\n        context.set(\"fanson\",false);\n        return [msg];\n    }\n}\n//flow.set(\"block_http_request\",1);\n\n//return [msg];\n","outputs":1,"noerr":0,"x":1210,"y":160,"wires":[["f065ebb.c51b318","fe08be2d.80bbb","91046999.6b1938","7a38321c.54b1ec"]]},{"id":"feb33634.546198","type":"function","z":"fb9e4f44.2562a","name":"hours","func":"var nowDate = new Date();\nvar Hour = nowDate.getHours();\n\n\nif ((Hour>=8)&&(Hour<=21)){\n    msg.payload = 0;\n    //msg.url =\"192.168.1.110/sendAJAX?json={'t':7,'v':\"+msg.payload+\"}\";\n    //context.set(\"fun\",0);\n    return msg;\n}\nelse{\n    //msg.payload = 0;\n     //msg.url =\"http://192.168.1.112/ws2811AJAX?json={'from':[53,44],'to':[88,88],'type':[2,0],'dir':[0,0],'col':[218,128],'wh':[153,128],'br_':[158,128],'num':2,'sp':11,'dr':255,'fd':60,'fdt':3,'br':132}\";\n    \n     //context.set(\"fun\",1);\n     flow.set(\"block_http_request\",0); \n     return null\n}","outputs":1,"noerr":0,"x":1470,"y":380,"wires":[[]]},{"id":"37159c45.3d4af4","type":"delay","z":"fb9e4f44.2562a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":220,"wires":[["867f45cf.7456b8"]]},{"id":"9aba6ca6.9e89a","type":"function","z":"fb9e4f44.2562a","d":true,"name":"switch","func":"var msg2 = msg;\n//context.set(\"fun_bathroom\",100);\nvar block_http_request = flow.get(\"block_http_request\");  \n\nif ((msg.payload === 0)&&(block_http_request === 0)){\n    flow.set(\"block_http_request\",1);  \n    //turn on\n    msg.payload = 1;\n    //context.set(\"fun_bathroom\",1);\n    msg2 = null;\n  return [msg,msg2];\n}\n\nif ((msg.payload === 1)&&(block_http_request === 0)){\n    msg2.payload = 1;\n    //flow.set(\"block_http_request\",1);  \n    //msg2.topic = fun_turned_on;\n    //flow.set(\"fun_bathroom_1\",1); \n    msg = null;\n   return [msg,msg2];\n}\n\n\n//return [msg,msg2];\n","outputs":2,"noerr":0,"x":1210,"y":380,"wires":[["feb33634.546198"],["37159c45.3d4af4"]]},{"id":"297f3d0a.77b6f2","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":410,"y":100,"wires":[["867f45cf.7456b8"]]},{"id":"219bc725.9c02f8","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1050,"y":380,"wires":[["9aba6ca6.9e89a"]]},{"id":"8d34070c.14bea8","type":"function","z":"fb9e4f44.2562a","name":"Bathroom","func":"\nvar parsed =(msg.payload);\n\nvar stat0={\n    \"payload\":0,\n    \"topic\":0\n};\nvar stat2={};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//колонки\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\n\nvar DealyMessageOff={\n    topic:\"\",\n    payload:1};    \nif ((stat4.payload===0)||(stat5.payload===0)||(stat6.payload===0)){\nDealyMessageOff.payload=0;    \n}\n\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\nreturn [ stat0, stat1, stat2,stat4,stat5,DealyMessageOff ];","outputs":6,"noerr":0,"x":960,"y":460,"wires":[["1e8a258b.b44f8a"],["bb0783f6.b3d86"],["d4cc22e2.aee0c"],[],[],[]]},{"id":"9d3df663.878278","type":"delay","z":"fb9e4f44.2562a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":480,"wires":[["8d34070c.14bea8"]]},{"id":"7708c2f.eb7a33c","type":"ui_chart","z":"fb9e4f44.2562a","name":"","group":"7045f0ba.5d0b5","order":2,"width":"0","height":"0","label":"Температура в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1310,"y":460,"wires":[[]]},{"id":"11602917.48dcc7","type":"ui_chart","z":"fb9e4f44.2562a","name":"","group":"7045f0ba.5d0b5","order":1,"width":"0","height":"0","label":"движение в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1300,"y":440,"wires":[[]]},{"id":"8559cd27.0d6c5","type":"switch","z":"fb9e4f44.2562a","d":true,"name":"switch if 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":320,"wires":[["feb33634.546198"],["37159c45.3d4af4"]]},{"id":"5ebae995.a7d448","type":"function","z":"fb9e4f44.2562a","d":true,"name":"multi unit delay","func":"let delay = 30* 60 * 1000;\nvar delayName = 'bathroom';\n    myResetFunction();\n//==================================\n\nfunction myDelayFunction() {\n  let t = setTimeout(myEndFunction, delay);\n  context.set(delayName,t);\n}\n\n\nfunction myEndFunction() {\n  //node.send({payload:Date.now()});\n  node.send({payload:msg.payload});  \n}\n\n\nfunction myResetFunction() {\n  let t = context.get(delayName);    \n  clearTimeout(t);\n  //node.send({payload:Date.now()}); \n  //node.send({payload:context.get('pl'),delay:\"reset\"});   \n}\n\n//==================================\n\n\n\n  //node.send({payload:Date.now()});\n  myDelayFunction();  \n\nreturn null;","outputs":1,"noerr":0,"x":1220,"y":200,"wires":[[]]},{"id":"1e8a258b.b44f8a","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":440,"wires":[["11602917.48dcc7"]]},{"id":"bb0783f6.b3d86","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":460,"wires":[["7708c2f.eb7a33c"]]},{"id":"d4cc22e2.aee0c","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":480,"wires":[["e7262704.1859d8"]]},{"id":"617f1a1e.079a94","type":"function","z":"fb9e4f44.2562a","name":"влажность если больше","func":"var nowDate = new Date();\nvar bath = \"turned_bathroom_by_hum\"\nvar Hour = nowDate.getHours();\nvar msg1 = msg;\n\nhum_level = global.get('bath_hum');\nif ((Hour > 7) && (Hour <= 23)) {\n    if (msg.payload > hum_level) {\n        flow.set(bath, 1);\n        msg1.topic = \"Hum\";\n        msg1.payload = 0;\n        return msg1;\n    }\n    if ((msg.topic == \"move\") && (msg.payload == '0')) {\n        msg1 = msg;\n        return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":1070,"y":40,"wires":[["eb9c9092.af22","5ebae995.a7d448","7a38321c.54b1ec","b9bf524c.b2393"]]},{"id":"9c565454.2e1678","type":"ui_slider","z":"fb9e4f44.2562a","name":"slider_hum","label":"max Влажность","tooltip":"","group":"9c427bae.9c4118","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"40","max":"100","step":1,"x":2470,"y":200,"wires":[["39083f89.0916a"]]},{"id":"39083f89.0916a","type":"change","z":"fb9e4f44.2562a","name":"","rules":[{"t":"set","p":"bath_hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":200,"wires":[[]]},{"id":"36381927.960896","type":"change","z":"fb9e4f44.2562a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"bath_hum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":200,"wires":[["9c565454.2e1678"]]},{"id":"f67703f2.97ce9","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2090,"y":200,"wires":[["36381927.960896"]]},{"id":"1ec0abbe.00e234","type":"inject","z":"fb9e4f44.2562a","name":"at 23:20","repeat":"","crontab":"20 23 * * *","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"str","x":1420,"y":220,"wires":[["f3a3f8a8.bd1518","111b45a9.5dba0a"]]},{"id":"fe08be2d.80bbb","type":"function","z":"fb9e4f44.2562a","d":true,"name":"variable set bathroom","func":"msg.payload = msg.payload+\"\";\n\n\nvar content = \"включение вентилятора :\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1700,"y":240,"wires":[["3b24f3b8.9e07fc"]]},{"id":"3b24f3b8.9e07fc","type":"telegram sender","z":"fb9e4f44.2562a","name":"sender","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":1870,"y":240,"wires":[[]]},{"id":"111b45a9.5dba0a","type":"function","z":"fb9e4f44.2562a","name":"send by seq","func":"var numbers = [3,4,5,6];\nvar value = 1;\n/////pasrsing answer\nvar parsed =(msg.payload);\nvar actualCount = flow.get(\"actualCount\")||0;\nvar actualNumber = numbers[actualCount];\nif (msg.topic == \"exit\"){\n    return null;\n}\n\nif (typeof msg.payload != \"object\"){\n   msg.url = \"192.168.1.112/sendAJAX?json={\\\"t\\\":\"+actualNumber+\",\\\"v\\\":\"+value+\"}\";\n   msg.topic = \"request\";\n   flow.set(\"actualCount\",0);\n   return msg;\n}\n\n\nvar stat4 ={payload: parseInt(parsed.stat[actualNumber])};//колонки\n// var stat5 ={payload: parsed.stat[5]};//вентилятор леввый\n// var stat6 ={payload: parsed.stat[6]};//вентилятор правый\n\nif (stat4.payload === 0){//dont get it\n    msg.url = \"192.168.1.112/sendAJAX?json={\\\"t\\\":\"+actualNumber+\",\\\"v\\\":\"+value+\"}\";\n    return msg;\n}\nif (stat4.payload === 1){//move to next\n    actualCount += 1;\n    if (actualCount < numbers.length){\n        \n        actualNumber = numbers[actualCount];\n        flow.set(\"actualCount\", actualCount);\n        msg.url = \"192.168.1.112/sendAJAX?json={\\\"t\\\":\"+actualNumber+\",\\\"v\\\":\"+value+\"}\";\n        return msg;\n    }\n    else{\n        //exit from loop\n        msg.topic = \"exit\";\n        flow.set(\"actualCount\",0);\n        return msg;      \n    }\n}\n\n\n\n//return msg;","outputs":1,"noerr":0,"x":1710,"y":180,"wires":[["c781140e.26fd88"]]},{"id":"1db3f66f.faf6da","type":"ui_text","z":"c34706b9.5929b8","group":"3b1bef7b.b17c8","order":4,"width":0,"height":0,"name":"","label":"облачность","format":"{{msg.payload | uppercase}}","layout":"row-spread","x":880,"y":880,"wires":[]},{"id":"c8e7d188.d5e06","type":"ui_chart","z":"b24d3973.5ab408","name":"","group":"b0479260.5ff93","order":1,"width":0,"height":0,"label":"TCPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":120,"wires":[[]]},{"id":"3ac759df.eb61e6","type":"http request","z":"b24d3973.5ab408","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.115/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":140,"wires":[["bb68f892.d4aab8"]]},{"id":"bb68f892.d4aab8","type":"function","z":"b24d3973.5ab408","name":"cpu 192.168.1.115","func":"var parsed =(msg.payload);\n\n\nvar prevTemp;\nvar nowTemp;\nif (flow.get(\"prevTemp\")!==0){\n    prevTemp = flow.get(\"prevTemp\");\n}\n\nif (parsed.stat[0]!==0){\n    flow.set(\"prevTemp\",parsed.stat[0]);\n    nowTemp = parsed.stat[0];\n}else{\n    nowTemp = flow.get(\"prevTemp\");\n}\nvar stat0 ={topic:\"temp\", payload: nowTemp};//температура\n\nvar TCPU=flow.get('TCPU');\nvar difference = {payload: (TCPU.payload - nowTemp)};\n\nreturn [difference,stat0];","outputs":2,"noerr":0,"x":790,"y":60,"wires":[["fcfc0efa.aae28"],["8022d58f.ebdd48"]]},{"id":"fcfc0efa.aae28","type":"ui_chart","z":"b24d3973.5ab408","d":true,"name":"","group":"9973900e.3167d","order":2,"width":0,"height":0,"label":"TCPU-difference","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1010,"y":40,"wires":[[]]},{"id":"8022d58f.ebdd48","type":"ui_chart","z":"b24d3973.5ab408","name":"","group":"b0479260.5ff93","order":1,"width":0,"height":0,"label":"TCPU-sensor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":80,"wires":[[]]},{"id":"41549e7b.d3a1e","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":640,"wires":[["a5855a44.80ae88"]]},{"id":"c781140e.26fd88","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1890,"y":180,"wires":[["111b45a9.5dba0a"]]},{"id":"e686e4c0.bfd4e8","type":"ui_text","z":"740ded65.f25114","group":"7045f0ba.5d0b5","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":580,"wires":[]},{"id":"ea72b397.00351","type":"function","z":"8bf68984.bfc058","name":"set to 0","func":"flow.set('watering_count',0);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[[]]},{"id":"67a87cd7.50b304","type":"ui_slider","z":"c34706b9.5929b8","name":"","label":"свет","tooltip":"","group":"e9f27305.060ed","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"1024","step":1,"x":910,"y":280,"wires":[["75f3d3c8.b1a63c"]]},{"id":"25c3c569.58f37a","type":"ui_slider","z":"c34706b9.5929b8","d":true,"name":"","label":"свет коридор","tooltip":"","group":"e9f27305.060ed","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"1024","step":1,"className":"","x":1500,"y":580,"wires":[["28102fc8.ffc9d"]]},{"id":"a17d6add.a4f008","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":380,"wires":[["88f17aea.cdd8f8"]]},{"id":"6869d05.6a5ae3","type":"ui_gauge","z":"c34706b9.5929b8","name":"","group":"3b1bef7b.b17c8","order":3,"width":"6","height":"2","gtype":"gage","title":"ветер","label":"units","format":"{{value}}","min":"1","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":840,"wires":[]},{"id":"f3a3f8a8.bd1518","type":"change","z":"fb9e4f44.2562a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":140,"wires":[["7a38321c.54b1ec","b9bf524c.b2393"]]},{"id":"8fd34cf6.5cd49","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1250,"y":500,"wires":[["3dde599a.a2d2c6"]]},{"id":"f0ba7d19.a5343","type":"rbe","z":"c34706b9.5929b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1310,"y":580,"wires":[["25c3c569.58f37a"]]},{"id":"529d7c5c.9646f4","type":"ui_switch","z":"fb9e4f44.2562a","name":"","label":"музыка","tooltip":"","group":"9c427bae.9c4118","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1960,"y":40,"wires":[["f7ddbdd5.cc274"]]},{"id":"5b4e2bf3.77a934","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":3,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":2350,"y":40,"wires":[[]]},{"id":"11944a31.7c9e76","type":"change","z":"fb9e4f44.2562a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":360,"wires":[[]]},{"id":"b79845fa.cc6a58","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2200,"y":80,"wires":[["e5b2d3cc.9e659","d8bd4c36.9bddc"]]},{"id":"aaa7f419.aca9f8","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2210,"y":120,"wires":[[]]},{"id":"f7ddbdd5.cc274","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2190,"y":40,"wires":[["5b4e2bf3.77a934","2ab45c23.e3bac4"]]},{"id":"91046999.6b1938","type":"debug","z":"fb9e4f44.2562a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1760,"y":500,"wires":[]},{"id":"e7262704.1859d8","type":"ui_text","z":"fb9e4f44.2562a","group":"9c427bae.9c4118","order":2,"width":0,"height":0,"name":"","label":"влажность","format":"{{msg.payload | uppercase}}","layout":"row-spread","x":1270,"y":480,"wires":[]},{"id":"c893137d.9a3a8","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"move","payload":"0","payloadType":"num","x":1270,"y":60,"wires":[["eb9c9092.af22"]]},{"id":"720cc2bc.01b58c","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fans","payload":"0","payloadType":"num","x":1050,"y":240,"wires":[["eb9c9092.af22"]]},{"id":"80e8f675.6e0cc8","type":"inject","z":"fb9e4f44.2562a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Hum","payload":"0","payloadType":"num","x":1290,"y":20,"wires":[["eb9c9092.af22"]]},{"id":"d227000.7f225","type":"rbe","z":"fb9e4f44.2562a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1010,"y":160,"wires":[["eb9c9092.af22"]]},{"id":"2df8d141.36237e","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":240,"wires":[[]]},{"id":"4c3a0de.5d914f4","type":"e-mail in","z":"c34706b9.5929b8","name":"","protocol":"POP3","server":"pop.meta.ua","useSSL":true,"port":"995","box":"INBOX","disposition":"None","criteria":"UNSEEN","repeat":"300","fetch":"auto","inputs":0,"x":580,"y":960,"wires":[["63311c41.8eb6c4"]]},{"id":"63311c41.8eb6c4","type":"function","z":"c34706b9.5929b8","name":"message","func":"\nmsg = {\n    \"topic\":\"мощность\"\n}\nvar content = msg.topic+\" кВт:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\":\"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":960,"wires":[["58026a80.89c794"]]},{"id":"58026a80.89c794","type":"telegram sender","z":"c34706b9.5929b8","name":"homeOveralBot","bot":"f62810d7.90ef4","haserroroutput":false,"outputs":1,"x":980,"y":960,"wires":[[]]},{"id":"2ab45c23.e3bac4","type":"http request","z":"fb9e4f44.2562a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":4,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":2530,"y":40,"wires":[[]]},{"id":"d6ab9548.6488e8","type":"ui_text","z":"740ded65.f25114","group":"e9f27305.060ed","order":4,"width":0,"height":0,"name":"","label":"чувствуется как","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":780,"wires":[]},{"id":"c3d67c7f.cfbfd","type":"ui_text","z":"740ded65.f25114","group":"e9f27305.060ed","order":5,"width":0,"height":0,"name":"","label":"давление","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":820,"wires":[]},{"id":"8e1a5337.4146c","type":"http request","z":"8bf68984.bfc058","name":"192.168.1.116","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.116/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":220,"wires":[[]]},{"id":"f3c11b7c.2664c8","type":"ui_text","z":"f055f34b.05a2a","group":"3b1bef7b.b17c8","order":5,"width":0,"height":0,"name":"","label":"теплый пол","format":"{{msg.payload}}","layout":"row-spread","className":"","x":790,"y":200,"wires":[]},{"id":"cbcf916c.5e005","type":"http request","z":"c6c7be1a.44257","name":"свет спальня","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.116/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":120,"wires":[["4c39f757.9591a8"]]},{"id":"ed3986e.ab48f78","type":"function","z":"c6c7be1a.44257","name":"cспальня - свет","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//свет верх\nvar stat1 ={payload: parsed.stat[1]};//свет низ\n\nreturn [ stat0, stat1 ];","outputs":2,"noerr":0,"x":700,"y":120,"wires":[["bac42cd8.cdd7c"],[]]},{"id":"d853923a.c79fd","type":"inject","z":"c6c7be1a.44257","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["cbcf916c.5e005"]]},{"id":"bac42cd8.cdd7c","type":"ui_slider","z":"c6c7be1a.44257","name":"","label":"свет спальня","tooltip":"","group":"9c427bae.9c4118","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1024","step":1,"className":"","x":920,"y":100,"wires":[["a719df8b.75863","4050bebb.da359"]]},{"id":"a719df8b.75863","type":"http request","z":"c6c7be1a.44257","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.1.116/sendAJAX?json={\"t\":0,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":100,"wires":[[]]},{"id":"4050bebb.da359","type":"http request","z":"c6c7be1a.44257","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.116/sendAJAX?json={\"t\":1,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":140,"wires":[[]]},{"id":"4c39f757.9591a8","type":"rbe","z":"c6c7be1a.44257","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":540,"y":120,"wires":[["ed3986e.ab48f78"]]},{"id":"ac901d26.fc19e","type":"debug","z":"403424f3.deddcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":260,"wires":[]},{"id":"8e215679.b5ccf8","type":"change","z":"403424f3.deddcc","name":"","rules":[{"t":"set","p":"TelegramChatIds","pt":"global","to":"[\"843873284\", \"584925756\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"TelegramChatIds","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["5e628b03.3a2c04"]]},{"id":"84bbd43f.c006e8","type":"debug","z":"403424f3.deddcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":80,"wires":[]},{"id":"d0d09f39.f4899","type":"telegram receiver","z":"29931177.bf804e","name":"Dooge_x5_bot","bot":"73e2e908.049518","saveDataDir":"","filterCommands":false,"x":80,"y":140,"wires":[["7e7b2e15.47129"],[]]},{"id":"b8c7ed40.f2313","type":"switch","z":"29931177.bf804e","name":"if camera","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"camera","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":160,"wires":[[]]},{"id":"1bc0f676.a5cb0a","type":"telegram sender","z":"29931177.bf804e","name":"","bot":"73e2e908.049518","haserroroutput":false,"outputs":1,"x":910,"y":120,"wires":[[]]},{"id":"151dd6c.e442929","type":"http request","z":"29931177.bf804e","name":"IP","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":120,"wires":[["2712847b.e031cc"]]},{"id":"2712847b.e031cc","type":"function","z":"29931177.bf804e","name":"message","func":"var content = \"http://\"+msg.payload.ip+\":1880/ui\";\nvar TelegramChatIds = global.get(\"TelegramChatIds\");\nvar ObjectPayload={\n    \"chatId\": TelegramChatIds,\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":120,"wires":[["1bc0f676.a5cb0a"]]},{"id":"76f42e38.b0ee","type":"switch","z":"29931177.bf804e","name":"ip","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":120,"wires":[["151dd6c.e442929"]]},{"id":"7e7b2e15.47129","type":"function","z":"29931177.bf804e","name":"get payload","func":"var payloadmsg = (msg.payload);\nvar content = {payload: payloadmsg.content};\nreturn content;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["b8c7ed40.f2313","76f42e38.b0ee"]]}]